/* ====================
Preloder css Start
====================== */
.preloder .centrize {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: #ECF0F3;
}
.preloder .centrize .vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.preloder .centrize .vertical-center .spinner {
  position: relative;
}
.preloder .centrize .vertical-center .spinner .double-bounce1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff014f;
  border-radius: 50%;
  animation: double-bounce1 2s infinite ease-in-out;
}
@keyframes double-bounce1 {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.preloder .centrize .vertical-center .spinner .double-bounce2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff014f;
  border-radius: 50%;
  animation: double-bounce2 2s infinite ease-in-out;
  animation-delay: -1s;
  opacity: 0.1;
}
@keyframes double-bounce2 {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* ===================
preloder css end
==================== */
/* =================
header css start 
================== */
.navbar {
  background: #ECF0F3 !important;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: 0.3s;
}
.navbar .container .navbar-brand img {
  transition: 0.3s;
  transform: scale(1);
}
.navbar .container .navbar-nav:hover .nav-item .nav-link {
  opacity: 0.5;
}
.navbar .container .navbar-nav .nav-item:hover .nav-link {
  opacity: 1 !important;
}
.navbar .container .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 13px !important;
  padding: 0 20px !important;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.navbar .container .navbar-nav .active {
  color: #ff014f !important;
  opacity: 1 !important;
}

.fixed-Navbar {
  position: fixed !important;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  top: 0;
  left: 0;
}
.fixed-Navbar .navbar-brand img {
  transform: scale(0.9) !important;
}

.navbar .container .mobile-toggler {
  outline: 0;
  border: 0;
  background: #ECF0F3;
}
.navbar .container .mobile-toggler span {
  width: 33px;
  height: 3px;
  background: #ff014f;
  display: block;
}
.navbar .container .mobile-toggler span:nth-child(2) {
  margin: 7px 0px;
}

.offcanvas {
  background: #ECF0F3;
  padding: 25px 40px !important;
  width: 375px;
  z-index: 999999;
}
.offcanvas .offcanvas-header {
  padding: 0 !important;
  margin-bottom: 20px !important;
}
.offcanvas .offcanvas-header .btn-close {
  background: none !important;
  margin-bottom: 0 !important;
  color: #ff014f !important;
  opacity: 1 !important;
  font-size: 20px;
  border-radius: 50% !important;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
}
.offcanvas .offcanvas-header .btn-close i {
  line-height: 30px !important;
}
.offcanvas .offcanvas-body {
  padding: 0 !important;
}
.offcanvas .offcanvas-body p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  line-height: 32px;
  border-bottom: 1px solid #dce1e4;
  padding-bottom: 30px;
}
.offcanvas .offcanvas-body .menu-list {
  padding-top: 30px;
  padding-bottom: 50px;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 13px !important;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .nav-item .nav-link:hover {
  color: #ff014f;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .active {
  color: #ff014f !important;
}
.offcanvas .offcanvas-body .socail span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #3c3e41;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}
.offcanvas .offcanvas-body .socail .socail-icon a:last-of-type i {
  margin-right: 0 !important;
}
.offcanvas .offcanvas-body .socail .socail-icon a i {
  width: 50px;
  height: 50px;
  color: #ff014f !important;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  transform: translateY(10px);
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.offcanvas .offcanvas-body .socail .socail-icon a i:hover {
  transform: translateY(0);
  background: #ff014f;
  color: #ECF0F3 !important;
}

#hero {
  background: #ECF0F3;
}
#hero .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#hero .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#hero .container .content .inner {
  margin-bottom: 142px;
}
#hero .container .content .inner .subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#hero .container .content .inner .title {
  font-size: 60px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  line-height: 75px;
  color: #1e2125;
}
#hero .container .content .inner .title span {
  color: #ff014f;
}
#hero .container .content .inner .selector .ah-headline {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#hero .container .content .inner .selector .ah-headline span:first-of-type {
  color: #ff014f;
}
#hero .container .content .inner .selector .ah-headline .ah-words-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 3px;
  width: 2px;
  height: 50px;
  background-color: #ff014f;
  transform: translateY(-50%);
}
#hero .container .content .inner p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #3c3e41;
  opacity: 0.8;
  padding-right: 80px;
  margin-top: 24px;
}
#hero .container .content .icon span {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 10px;
}
#hero .container .content .icon a:last-of-type i {
  margin-right: 0 !important;
}
#hero .container .content .icon a i {
  width: 50px;
  height: 50px;
  color: #ff014f !important;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  transform: translateY(10px);
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#hero .container .content .icon a i:hover {
  transform: translateY(0);
  background: #ff014f;
  color: #ECF0F3 !important;
}
#hero .container .thumbnail {
  position: relative;
  z-index: 1;
}
#hero .container .thumbnail::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ECF0F3;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  height: calc(100% - 130px);
  bottom: 0;
  border-radius: 10px;
}
#hero .container .thumbnail .inner img {
  vertical-align: middle;
}

#about {
  background: #ECF0F3;
}
#about .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#about .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#about .container .content .inner .about-items {
  border-top: #dce1e4;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#about .container .content .inner .about-items:hover {
  color: #fff !important;
}
#about .container .content .inner .about-items:hover::before {
  opacity: 1;
}
#about .container .content .inner .about-items:hover .icon {
  background: #ECF0F3 !important;
  color: #ff014f;
}
#about .container .content .inner .about-items:hover h3 {
  color: #fff;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items:hover p {
  color: #fff;
}
#about .container .content .inner .about-items:hover a i {
  color: #fff;
}
#about .container .content .inner .about-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(145deg, #ff014f, #d11414);
  opacity: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items .icon {
  width: 50px;
  height: 50px;
  background: #ff014f;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
#about .container .content .inner .about-items h3 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  color: #3c3e41;
  line-height: 30px;
  margin-bottom: 22px;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items a i {
  color: #ff014f;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .thumbnail .inner {
  padding: 100px 40px;
}
#about .container .thumbnail .inner span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#about .container .thumbnail .inner h3 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  margin-bottom: 24px !important;
}
#about .container .thumbnail .inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  opacity: 0.8;
}
#about .container .thumbnail .inner a {
  background: linear-gradient(145deg, #ff014f, #d11414);
  color: #ff014f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  overflow: hidden;
  color: #ECF0F3;
}
#about .container .thumbnail .inner a:hover {
  color: #ff014f;
}
#about .container .thumbnail .inner a:hover::before {
  opacity: 1;
}
#about .container .thumbnail .inner a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(145deg, #ff014f, #d11414);
  opacity: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  background: #ECF0F3;
}

/*# sourceMappingURL=style.css.map */
