/*===================
 common css start
=================*/
* {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.header span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ff014f;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  line-height: 14px;
}
.header h2 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
  color: #3c3e41;
  margin-top: 15px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
}

/* ====================
Preloder css Start
====================== */
.preloder .centrize {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background: #ECF0F3;
}
.preloder .centrize .vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.preloder .centrize .vertical-center .spinner {
  position: relative;
}
.preloder .centrize .vertical-center .spinner .double-bounce1 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff014f;
  border-radius: 50%;
  animation: double-bounce1 2s infinite ease-in-out;
}
@keyframes double-bounce1 {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
.preloder .centrize .vertical-center .spinner .double-bounce2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff014f;
  border-radius: 50%;
  animation: double-bounce2 2s infinite ease-in-out;
  animation-delay: -1s;
  opacity: 0.1;
}
@keyframes double-bounce2 {
  0%,100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
/* ===================
preloder css end
==================== */
/* =================
header css start 
================== */
.navbar {
  background: #ECF0F3 !important;
  position: absolute;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: 0.3s;
}
.navbar .container .navbar-brand img {
  transition: 0.3s;
  transform: scale(1);
}
.navbar .container .navbar-nav:hover .nav-item .nav-link {
  opacity: 0.5;
}
.navbar .container .navbar-nav .nav-item:hover .nav-link {
  opacity: 1 !important;
}
.navbar .container .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 13px !important;
  padding: 0 20px !important;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.navbar .container .navbar-nav .active {
  color: #ff014f !important;
  opacity: 1 !important;
}

.fixed-Navbar {
  position: fixed !important;
  box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  top: 0;
  left: 0;
}
.fixed-Navbar .navbar-brand img {
  transform: scale(0.9) !important;
}

.navbar .container .mobile-toggler {
  outline: 0;
  border: 0;
  background: #ECF0F3;
}
.navbar .container .mobile-toggler span {
  width: 33px;
  height: 3px;
  background: #ff014f;
  display: block;
}
.navbar .container .mobile-toggler span:nth-child(2) {
  margin: 7px 0px;
}

.offcanvas {
  background: #ECF0F3;
  padding: 25px 40px !important;
  width: 375px;
  z-index: 999999;
}
.offcanvas .offcanvas-header {
  padding: 0 !important;
  margin-bottom: 20px !important;
}
.offcanvas .offcanvas-header .btn-close {
  background: none !important;
  margin-bottom: 0 !important;
  color: #ff014f !important;
  opacity: 1 !important;
  font-size: 20px;
  border-radius: 50% !important;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  width: 30px !important;
  height: 30px !important;
  text-align: center !important;
}
.offcanvas .offcanvas-header .btn-close i {
  line-height: 30px !important;
}
.offcanvas .offcanvas-body {
  padding: 0 !important;
}
.offcanvas .offcanvas-body p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  line-height: 32px;
  border-bottom: 1px solid #dce1e4;
  padding-bottom: 30px;
}
.offcanvas .offcanvas-body .menu-list {
  padding-top: 30px;
  padding-bottom: 50px;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 13px !important;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .nav-item .nav-link:hover {
  color: #ff014f;
}
.offcanvas .offcanvas-body .menu-list .navbar-nav .active {
  color: #ff014f !important;
}
.offcanvas .offcanvas-body .socail span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #3c3e41;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 20px;
}
.offcanvas .offcanvas-body .socail .socail-icon a:last-of-type i {
  margin-right: 0 !important;
}
.offcanvas .offcanvas-body .socail .socail-icon a i {
  width: 50px;
  height: 50px;
  color: #ff014f !important;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  transform: translateY(10px);
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
.offcanvas .offcanvas-body .socail .socail-icon a i:hover {
  transform: translateY(0);
  background: #ff014f;
  color: #ECF0F3 !important;
}

#hero {
  background: #ECF0F3;
}
#hero .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#hero .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#hero .container .content .inner {
  margin-bottom: 142px;
}
#hero .container .content .inner .subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#hero .container .content .inner .title {
  font-size: 60px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  line-height: 75px;
  color: #1e2125;
}
#hero .container .content .inner .title span {
  color: #ff014f;
}
#hero .container .content .inner .selector .ah-headline {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
#hero .container .content .inner .selector .ah-headline span:first-of-type {
  color: #ff014f;
}
#hero .container .content .inner .selector .ah-headline .ah-words-wrapper::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 3px;
  width: 2px;
  height: 50px;
  background-color: #ff014f;
  transform: translateY(-50%);
}
#hero .container .content .inner p {
  font-size: 16px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #3c3e41;
  opacity: 0.8;
  padding-right: 80px;
  margin-top: 24px;
}
#hero .container .content .inner a {
  background: linear-gradient(145deg, #ff014f, #d11414);
  color: #ff014f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  overflow: hidden;
  color: #ECF0F3;
}
#hero .container .content .inner a:hover {
  color: #ff014f;
}
#hero .container .content .inner a:hover::before {
  opacity: 1;
}
#hero .container .content .inner a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(145deg, #ff014f, #d11414);
  opacity: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  background: #ECF0F3;
}
#hero .container .content .icon span {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 10px;
}
#hero .container .content .icon a:last-of-type i {
  margin-right: 0 !important;
}
#hero .container .content .icon a i {
  width: 50px;
  height: 50px;
  color: #ff014f !important;
  line-height: 50px;
  text-align: center;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  margin-right: 10px;
  transform: translateY(10px);
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#hero .container .content .icon a i:hover {
  transform: translateY(0);
  background: linear-gradient(145deg, #ff014f, #d11414);
  color: #ECF0F3 !important;
}
#hero .container .thumbnail {
  position: relative;
  z-index: 1;
}
#hero .container .thumbnail::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ECF0F3;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  height: calc(100% - 130px);
  bottom: 0;
  border-radius: 10px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
#hero .container .thumbnail .inner img {
  vertical-align: middle;
}

#about {
  background: #ECF0F3;
}
#about .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#about .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#about .container .content .inner .about-items {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  padding: 30px 25px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#about .container .content .inner .about-items:hover {
  color: #fff !important;
}
#about .container .content .inner .about-items:hover::before {
  opacity: 1;
}
#about .container .content .inner .about-items:hover .icon {
  background: #ECF0F3 !important;
  color: #ff014f;
}
#about .container .content .inner .about-items:hover h3 {
  color: #fff;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items:hover p {
  color: #fff;
}
#about .container .content .inner .about-items:hover a i {
  color: #fff;
}
#about .container .content .inner .about-items::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(145deg, #ff014f, #d11414);
  opacity: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items .icon {
  width: 50px;
  height: 50px;
  background: #ff014f;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}
#about .container .content .inner .about-items h3 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.8;
  color: #3c3e41;
  line-height: 30px;
  margin-bottom: 22px;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .content .inner .about-items a i {
  color: #ff014f;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#about .container .thumbnail .inner {
  padding: 100px 40px;
}
#about .container .thumbnail .inner span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#about .container .thumbnail .inner h3 {
  font-size: 50px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  margin-bottom: 24px !important;
}
#about .container .thumbnail .inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  opacity: 0.8;
}
#about .container .thumbnail .inner a {
  background: linear-gradient(145deg, #ff014f, #d11414);
  color: #ff014f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  position: relative;
  z-index: 1;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  overflow: hidden;
  color: #ECF0F3;
}
#about .container .thumbnail .inner a:hover {
  color: #ff014f;
}
#about .container .thumbnail .inner a:hover::before {
  opacity: 1;
}
#about .container .thumbnail .inner a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(145deg, #ff014f, #d11414);
  opacity: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  background: #ECF0F3;
}

#portfoli {
  background: #ECF0F3;
}
#portfoli .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#portfoli .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#portfoli .container .nav {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
}
#portfoli .container .nav .nav-item {
  width: 20%;
}
#portfoli .container .nav .nav-item .nav-link {
  font-size: 13px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  color: #3c3e41 !important;
  text-transform: uppercase;
  text-align: center;
  padding: 33px;
}
#portfoli .container .nav .active {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  border-radius: 10px;
}
#portfoli .container .nav .active .nav-link {
  color: #ff014f !important;
}
#portfoli .container .content .inner {
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}
#portfoli .container .content .inner:hover .overlay {
  top: 0;
}
#portfoli .container .content .inner .overlay {
  background: rgba(255, 1, 77, 0.506);
  top: -100%;
  left: 0;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  cursor: pointer;
}
#portfoli .container .content .inner .overlay a i {
  font-size: 40px;
  color: #ECF0F3;
}

#resume {
  background: #ECF0F3;
}
#resume .container {
  padding-top: 100px;
  padding-bottom: 100px;
}
#resume .container .nav {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
}
#resume .container .nav .nav-item {
  width: 25%;
}
#resume .container .nav .nav-item .nav-link {
  width: 100%;
  color: #3c3e41;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  padding: 32px 0px !important;
  border-radius: 10px;
  font-size: 13px;
  text-transform: uppercase !important;
}
#resume .container .nav .nav-item .nav-link:hover {
  color: #ff014f !important;
  background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
}
#resume .container .nav .nav-item .active {
  color: #ff014f !important;
  background: linear-gradient(145deg, #e2e8ec, #ffffff) !important;
}
#resume .container .resume-content {
  padding-left: 31px;
  border-left: 5px solid #d9dee2;
}
#resume .container .resume-content .tabs-header {
  margin-bottom: 22px;
}
#resume .container .resume-content .tabs-header span {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ff014f;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-weight: 500;
}
#resume .container .resume-content .tabs-header h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 40px;
}
#resume .container .resume-content .content {
  padding: 45px 40px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
  position: relative;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#resume .container .resume-content .content:hover {
  background: linear-gradient(145deg, #ff014f, #d11414) !important;
}
#resume .container .resume-content .content:hover .heading h4 {
  color: #ECF0F3 !important;
}
#resume .container .resume-content .content:hover .heading span {
  color: #ECF0F3 !important;
}
#resume .container .resume-content .content:hover .heading a {
  background: #ff014f !important;
  color: #ECF0F3 !important;
  box-shadow: none !important;
}
#resume .container .resume-content .content:hover .inner p {
  color: #ECF0F3;
}
#resume .container .resume-content .content::before {
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  width: 28px;
  height: 5px;
  background: #d9dee2;
  top: 63px;
  transform: translateY(-7%);
}
#resume .container .resume-content .content::after {
  content: '';
  position: absolute;
  top: 0;
  right: 104%;
  width: 20px;
  height: 20px;
  background: #ff014f;
  top: 55px;
  border-radius: 50%;
  border: 5px solid #d9dee2;
}
#resume .container .resume-content .content .inner .heading {
  align-items: center !important;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dce1e4;
}
#resume .container .resume-content .content .inner .heading h4 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 39px;
  margin-bottom: 7px !important;
  font-weight: 500;
  color: #3c3e41;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#resume .container .resume-content .content .inner .heading span {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #3c3e41;
  font-weight: 400;
  display: block;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#resume .container .resume-content .content .inner .heading a {
  font-family: "Poppins", sans-serif;
  background: #ffff;
  color: #ff014f;
  font-size: 15px;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  font-weight: 500;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#resume .container .resume-content .content .inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #3c3e41;
  line-height: 28px;
  opacity: 0.8;
  transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
}
#resume .container .skills-tabs .skill-title {
  margin-bottom: 22px;
}
#resume .container .skills-tabs .skill-title span {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ff014f;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-weight: 500;
}
#resume .container .skills-tabs .skill-title h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  font-size: 40px;
}
#resume .container .skills-tabs .content .inner .skill-header {
  margin-bottom: 10px;
}
#resume .container .skills-tabs .content .inner .skill-header span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #3c3e41;
  opacity: 0.8;
}
#resume .container .skills-tabs .content .inner .progress {
  height: 13px !important;
  padding: 3px !important;
  border-radius: 10px;
  background: #d9dee2;
}
#resume .container .skills-tabs .content .inner .progress .progress-bar {
  border-radius: 10px;
  background: linear-gradient(145deg, #fff 0%, #ff014f 100%) !important;
}

#clients {
  background: #ECF0F3;
}
#clients .container {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
#clients .container::before {
  width: 100%;
  height: 2px;
  background: #dce1e4;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#clients .container .content .inner {
  padding: 100px 40px;
}
#clients .container .content .inner .subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#clients .container .content .inner .title {
  font-size: 50px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  margin-bottom: 24px !important;
}
#clients .container .content .inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  opacity: 0.8;
}
#clients .container .clients-container {
  padding: 100px 0px;
}
#clients .container .clients-container .clients-item {
  margin-right: 30px;
}
#clients .container .clients-container .clients-item .inner {
  padding: 40px;
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  border-radius: 10px;
}
#clients .container .clients-container .clients-item .inner i {
  font-size: 30px;
  color: #ff014f;
  line-height: 50px;
}
#clients .container .clients-container .clients-item .inner p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #3c3e41;
  opacity: 0.8;
  line-height: 28px;
  margin-bottom: 24px  !important;
}
#clients .container .clients-container .clients-item .inner .img {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
  background: #dce1e4;
}
#clients .container .clients-container .clients-item .inner .title h4 {
  font-size: 25px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  margin-bottom: 10px !important;
}
#clients .container .clients-container .clients-item .inner .title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #3c3e41;
  display: block;
  margin-bottom: 20px;
}
#clients .container .preArrow {
  font-size: 25px;
  position: absolute;
  left: -50%;
  top: 67%;
  transform: translate(-50%, 67%);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  color: #ff014f;
  background: linear-gradient(145deg, #ff014f, #d11414);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  color: #ECF0F3;
  cursor: pointer;
}
#clients .container .nextArrow {
  font-size: 25px;
  font-size: 30px;
  position: absolute;
  left: -43%;
  top: 67%;
  transform: translate(-40%, 67%);
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: linear-gradient(145deg, #ff014f, #d11414);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  color: #ECF0F3;
  cursor: pointer;
}
#clients .container .team-container .team-item {
  margin-right: 30px;
}
#clients .container .team-container .team-item:last-of-type {
  margin-right: 0;
}
#clients .container .slick-center {
  border: 1px solid #dce1e4;
}

/*# sourceMappingURL=style.css.map */
