$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$brand-color: #ff014f;
$color-one: #3c3e41;
$color-two: #878e99;
$heading-color: #1e2125;
$shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
$shadow-one: inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
$background-gradient: linear-gradient(145deg, #e2e8ec, #ffffff);
$background-gradientTow: linear-gradient(145deg, #ff014f, #d11414);
$background-color: #ECF0F3;
$border-color: #dce1e4;