@import 'variable';
@import 'font';

.navbar{
    .container{
        .mobile-toggler{
            outline: 0;
            border: 0;
            background: $background-color;
            span{
                width: 33px;
                height: 3px;
                background: $brand-color;

                display: block;
                &:nth-child(2){
                    margin: 7px 0px;
                }
            }
        }
    }
}