@import 'variable';
@import 'font';
#portfoli{
    background: $background-color;
    .container{
        padding-top: 100px;
        padding-bottom: 100px;
        position: relative;
        &::before{
            @include section-Before();
        }
        .nav{
            background: $background-gradient;
            box-shadow: $shadow;
            border-radius: 10px;
            .nav-item{
                width: 20%;
                .nav-link{
                    font-size: 13px;
                    @include MontserratBlod;
                    color: $color-one !important;
                    text-transform: uppercase;
                    text-align: center;
                    padding: 33px;
                    
                    
                }
            }
            .active{
                background: $background-gradient;
                border-radius: 10px;
               
                .nav-link{
                    color: $brand-color !important;
                    
                    
                }
            }
        }
        .content{
            .inner{
                border-radius: 10px;
                overflow: hidden;
                cursor: pointer;
                &:hover{
                    .overlay{
                        top: 0;
                    }
                }
                img{

                }
                .overlay{
                    background: rgba(255, 1, 77, 0.506);
                    top: -100%;
                    left: 0;
                    @include trans(0.4s);
                    cursor: pointer;
                    a{
                        i{
                            font-size: 40px;
                            color: $background-color;
                        }
                    }
                    
                }
            }
        }
    }
}